{% extends "base.html" %} 
{% block title %} Dashboard {% endblock %} {% block content %}
<div class="row mt-4">
    <div class="container col-3">
        {% load static %}
        <img src="{% static stud_data.profile_photo %}"class=" rounded-circle " alt="Cinque Terre" style="max-height:400px">
        <h3>{{ student.first_name }}</h2>
            <h3>{{ student.username }}</h2>
    </div>
    <div class="card col-lg-7 mb-lg-0 mb-4">
        <div class="table-responsive">
            <h2 class="text-center my-4">Personal Information</h2>
            
                
            
            <table class="table align-items-center mb-0">

                <thead>
                    <tr>

                        <th></th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        <td>
                            <div class="d-flex px-2">

                                <div class="my-auto">
                                    <h6 class="mb-0 text-lg">Name</h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-lg font-weight-bold mb-0">{{ stud_data.name }}</p>
                        </td>

                        <!-- 
                        <td class="align-middle">
                            <button class="btn btn-link text-secondary mb-0">
                    <i class="fa fa-ellipsis-v text-xs" aria-hidden="true"></i>
                  </button>
                        </td> -->
                    </tr>
                    <tr>
                        
                        

                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2">

                                <div class="my-auto">
                                    <h6 class="mb-0 text-lg">Date Of Birth</h6>
                                </div>
                            </div>
                        </td>

                        <td>
                            <p class="text-lg font-weight-bold mb-0">{{ stud_data.date_of_birth }}</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2">

                                <div class="my-auto">
                                    <h6 class="mb-0 text-lg">Gender</h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-lg font-weight-bold mb-0">{{ stud_data.gender }}</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2">

                                <div class="my-auto">
                                    <h6 class="mb-0 text-lg">Mobile</h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-lg font-weight-bold mb-0">{{ stud_data.mobile_no }}</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2">

                                <div class="my-auto">
                                    <h6 class="mb-0 text-lg">Parent's No</h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-lg font-weight-bold mb-0">{{ stud_data.parents_no }}</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2">

                                <div class="my-auto">
                                    <h6 class="mb-0 text-lg">Email</h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-lg font-weight-bold mb-0">{{ stud_data.email }}</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2">

                                <div class="my-auto">
                                    <h6 class="mb-0 text-lg">Address</h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-lg font-weight-bold mb-0">{{ stud_data.address }}</p>
                        </td>

                    </tr>





                </tbody>
            </table>
        </div>
    </div>

</div>



<div class="row mt-4">
    <div class="card  mb-lg-0 mb-4">
        <div class="table-responsive">
            <h2 class="text-center my-4">Acadamic Information</h2>
            <table class="table align-items-center mb-0">

                <thead>
                    <tr>

                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            <div class="d-flex px-2">

                                <div class="my-auto">
                                    <h6 class="mb-0 text-lg">Course</h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-lg font-weight-bold mb-0">BE</p>
                        </td>

                        <!-- 
                        <td class="align-middle">
                            <button class="btn btn-link text-secondary mb-0">
                    <i class="fa fa-ellipsis-v text-xs" aria-hidden="true"></i>
                  </button>
                        </td> -->
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2">

                                <div class="my-auto">
                                    <h6 class="mb-0 text-lg">Branch</h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-lg font-weight-bold mb-0">IT</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2">

                                <div class="my-auto">
                                    <h6 class="mb-0 text-lg">Status</h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-lg font-weight-bold mb-0">Studying...</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2">

                                <div class="my-auto">
                                    <h6 class="mb-0 text-lg">CPI</h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-lg font-weight-bold mb-0">8.0</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2">

                                <div class="my-auto">
                                    <h6 class="mb-0 text-lg">CGPA</h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-lg font-weight-bold mb-0">8.0</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex px-2">

                                <div class="my-auto">
                                    <h6 class="mb-0 text-lg">Sem</h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-lg font-weight-bold mb-0">8</p>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}