{% extends "base.html" %} {% block title %} Profile {% endblock %}
{% block page %}Update Information{% endblock %}
{% block content %}


<div class="row mt-4">
   
    <div class="card  mb-lg-0 mb-4 my-4">
        <h2 class="mt-4 mx-4">Update Your Profile</h2>
        <div class="card-body">
            {% load crispy_forms_tags %}
            <form method="POST" action="{% url 'personalinfo' %}" enctype="multipart/form-data">
                {% csrf_token %}
             
                <div class="mb-3">
                {{ form.name | as_crispy_field}}                
                    </div>
                <div class="mb-3">
                    {{ form.profile_photo | as_crispy_field}}  
                </div>
                <div class="mb-3">
                    {{ form.email | as_crispy_field}}  
                </div>

                <div class="mb-3">
                    {{ form.Enroll_no | as_crispy_field}}  
                </div>
                <div class="mb-3">
                    {{ form.date_of_birth | as_crispy_field}}  
                </div>
                <div class="mb-3">
                    {{ form.SPI | as_crispy_field}}  
                </div>

                <div class="mb-3">
                    {{ form.CGPA | as_crispy_field}}  
                </div>

                <div class="mb-3">
                    {{ form.sem | as_crispy_field}}  
                </div>
                <div class="mb-3">
                    {{ form.gender | as_crispy_field}}  
                </div>

                <div class="mb-3">
                    {{ form.mobile_no | as_crispy_field}}  
                </div>

                <!-- <div class="mb-3">
                    <input type="email" class="form-control form-control-lg" placeholder="parent's email">
                </div> -->
                <div class="mb-3">
                    {{ form.parents_no | as_crispy_field}}  
                </div>
                <div class="mb-3">
                    {{ form.address | as_crispy_field}}  
                </div>



                <button type="submit" class="btn bg-gradient-success  my-4 mb-2">Update</button>
                <div class="text-center">
                    <!-- <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Sign up</button> -->
                    <!-- <input type="submit" name="createuser" class="btn bg-gradient-dark w-100 my-4 mb-2"> -->
                </div>
            </form>
        </div>

 
    </div>

</div>

{% endblock %}